body {
  margin: 0;
}

.bg {
  background: url(bg.webp) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}
